/* Color palette

HEX: #fbefcc

HEX: #f9ccac

HEX: #f4a688

HEX: #e0876a

 */

.grid-container {
    display: grid;
    grid-template-columns: 10% auto;
}

body {
    background-color: white;
    color: black;
    font-size: large;
}

.main {
    text-align: center;
}

.project {
    display: flex;
    margin: 1%;
}

.projectTitle {
    background-color: #fbefcc;
    border-radius: 15px;
    margin: 1%;
}
 
.project:nth-child(even) {
    flex-direction: row-reverse;
    border-radius: 15px 0 0 15px;
}

.project:nth-child(odd) {
    flex-direction: row;
    border-radius: 0 15px 15px 0;
}

.projectImage {
    width: 70vw;
    display: block;
}

#about {
    background-color: #fbefcc;
    border-radius: 15px;
    margin: 1%;
    text-align: left;
    padding:10px;
}

#flexcontainer {
    display: flex;
    flex-direction: row;
}

#me {
    height: 350px;
    display: block;
    align-items: center;
}

.info {
    background-color: #fbefcc;
    width:auto;
    padding: 15px;
    text-align: left;
    border-radius: inherit;
}

a {
    color: black;
}

a:visited { 
    text-decoration: none; 
    color:black; 
}

.sidebarLink {
    width: 100%;
    background-color: #f4a688;
    margin: 0.2vh;
    text-align: center;
    font-size: large;
    border-radius: 3px;
}

.sidebarLinks {
    position: -webkit-sticky;
    position: sticky;
    top:5px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    width:100%;
    text-decoration: none;
}

footer {
    text-align: center;
    color: black;
    background-color: #f4a688;
}

.small {
    font-size: smaller;
}

.icon {
    height: 30px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aboutTitle {
    text-align: center;
}